*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
    background-color: azure;
}
.secOne{
    width: 100%;
    padding: 4em 0;
    background-color: rgb(102, 118, 24, 0.2);
}
.gradient {
    background-image: linear-gradient(to right,rgb(255, 187, 0),black);
    height: 3px;
    width: 40%;
    margin: 20px 0 25px 0;
}
.desc{
    font-size: 18px;
}
nav{
    background-color: #667618;
    padding: 20px 0;
    display: flex;
   
}
.logo{
    width: 50px;
    height: 50px;
}
.logoImg{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.welcome{
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin: 0 5px 0 4em;
    display: flex;
    align-items: center;
}
.welcomeSpan{
    font-size: 32px;
}
.main{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.leftSide{
    width: 40%;
}
.rightSide{
    width: 40%;
    padding: 25px 20px;
    color: white;
    background-image: url(./logoImg.png);
    background-size: cover;
}
.submitBtn2{
    border-style: none;
    border-radius: 8px;
    padding: 8px 10px;
    margin: 15px 0 5px 0;
    background-color: white;
    color: #667618;
    font-weight: bold;
    cursor: pointer;
}
.nameText{
    border-style: none;
    margin-bottom: 10px;
    border-bottom: dashed 2px white;
}
.textA{
    font-size: 18px;
}
.text{
    margin: 8px 0;
}
.name{
    font-weight: bold;
}
.trail{
    font-weight: bold;
}
.buttonDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.withBtn{
    width: 100%;
    margin: 15px 0 0 0;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: white;
} .nxtBtn{
    width: 95%;
    margin: 15px 0 0 0;
    display: flex;
    justify-content: center;
}
.buttons{
    border-style: none;
    border-radius: 8px;
    padding: 8px 20px;
    margin: 15px 0 5px 0;
    background-color: rgb(102, 118, 24, 0.7);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.secTwo{
    width: 100%;
    padding: 30px 0;
}
.trailhead{
    width: 95%;
    margin: auto;
    font-size: 23px;
    font-weight: 700;
    color: #667618;
}
.descA{
    width: 100%;
    padding-bottom: 15px;
}
.oneSpecies img{
    width: 100%;  
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.allSpecies{
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 0 0;
    justify-content: space-between;
}
.oneSpecies{
    width: 30%;
    height: fit-content;
    background-color: rgb(217, 217, 217, 0.5);
    margin-top: 2%;
    padding-bottom: 15px;
    border-radius: 10px 10px 0 0;
    box-shadow: 3px 3px 4px rgb(147, 141, 141, 0.4);
}
.speciesName{
    padding: 15px 10px;
    font-size: 16px;
}
.specieDescription{
    height: fit-content;
    padding: 0 10px;
}
.footer{
    background-color: rgb(102, 118, 24, 0.2);
    padding: 25px 0;
    display: flex;
    justify-content: center;
}